.spin {
  width: 50px;
  height: 25px;
  text-align: center;
  font-size: 10px;
  display: inline-block;
}
.home-page h3 {
  text-align: center;
}
.detailed-campaign .progress {
  position: relative;
  height: 30px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}
.detailed-campaign .progress .bar {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}
.progress .bar {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width .3s linear;
}
.restrictImageSize img {
  width: 300px;
  height: 300px;
  border-radius: 6px;
  border: 1px solid #eee;
}
