.detailed-campaign {
position: relative;
.progress {
  position: relative;
  height: 30px;
  display: block;
  width: 50%;
  background-color: #daffde;
  border-radius: 2px;
  background-clip: padding-box;
  margin-right:auto;
  margin-left: 25px;
   margin-top: 20px;
  overflow: hidden;

  .bar {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: @themeColor;
    transition: width .3s linear; }


}
.title-image{
  margin-right:-25px;
  margin-bottom: 20px;
}
.money-raised {
  margin-top: 40px;
  margin-left: 25px;
  font-weight: bolder;
  font-size: 25px;
}
.data-container {
  border: 1px solid #e6e6e6;
  background-color:#fcfbfa;
  margin-bottom: 30px;
}

.vertical-center-div {
    position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.other-image {
  width:320px;
}
.user-container {
  margin-top:70px;
  
 
}
.donate-btn {

    float: left;
    margin-left: 20px;
    margin-top: 10px;
    width: 40%;
}
.user-image {
  width: 100px;
  margin-top: -5px
    

}

.organizer {
  margin-left: -20px;
  margin-top:25px;
}
.campaign-title {
  margin-top: 15px;
  margin-left: 0px;
  margin-bottom: 10px;
}

.video-player {
  vertical-align: middle;
  float:left;
  margin-right: 15px;
}
img {
  margin: 0 auto;
  display: block;
  margin-top:20px;
}

.description {
  margin-left: 25px;
 text-align: left;

  padding-right: 100px;
}

button {
  width: 25%;
  margin: 0 auto;
  display: block;
  padding: 5px;
}
}