	<div class="campaign">
		<a ng-href="{{getHref()}}">
			<img src="http://placehold.it/250x250">
			<div class="baseFont center-text campaign-text"> {{campaignData.name}} </div>
			<div class="progress">
				<div class="bar" ng-style="{width: percentageRaised}"></div>
			</div>
			<div class ="baseFont center-text campaign-text"> {{campaignData.amountRaised}} Raised Of {{campaignData.goal}} Rs </div>
			<div class ="baseFont center-text campaign-text"  > {{timeLeft}} </div>


		</a>

		<a  ng-if="admin" ng-href="{{getEditHref()}}">
		<button  class="btn btn-lg btn-success permissions" role="button">Edit and Approve</button>
		</a>
	</div>
</div>










