<form disabled name="signup_form" >

	<div class="campaign-form">
		<h2 class="text-center">Start your own campaign</h2>
		<div class="form-group input-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Title </h4>
				<div class=""> What do you want to raise money for? </div>




			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<input required ng-model="campaign.name" class="form-control" placeholder="Enter Name">
			</div>
		</div>

		<div class="form-group input-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Goal </h4>
				<div class=""> How much money do you want to raise? </div>
				<p> A minimum of 1000 Rs </p>
			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<input required ng-model="campaign.goal" type="number" min="1000" class="form-control goal-input" placeholder="1000"><span> Rs. </span>
			</div>
		</div>



		<div class="form-group input-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Video (Optional) </h4>
				<div class=""> Add a youtube or vimeo video link to explain what your campaign is about </div>
			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<input ng-model="campaign.video" class="form-control video-input" placeholder="http://www.youtube.com/watch?v=hm7cgGg-_1s"> </input>
			</div>
		</div>

		<div class="form-group input-description-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Description </h4>
				<div class=""> Tell us why you are running this fundraiser? </div>
			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<textarea rows="5" ng-model="campaign.description" class="form-control description-input" placeholder=""> </textarea>
			</div>
		</div>


		<div class="form-group input-type-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Type </h4>
				<div class=""> What kind of campaign is it? </div>
				<ul>
					<li> An indivual campaign is for your creative, entreprenurial and passion projects</li>
					<li> A cause is for fundraising for non profit causes</li>
				</ul>
			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<select class="form-control type-input" ng-options="item for item in campaignTypes" ng-model="campaign.type" ></select>
			</div>
		</div>

		<div class="form-group input-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Category </h4>
				<div class=""> What category defines your campaign the best? </div>

			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<select class="form-control type-input" ng-options="item for item in categoryTypes" ng-model="campaign.category" ></select>
			</div>
		</div>

		<div class="form-group input-zakaat-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Zakaat </h4>
				<div class=""> Does your camapign qualify as zakaat </div>
				<p>We take no cut in Zaakat transacations </p>
			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<input class="zakaat-input" type="checkbox"  ng-model="campaign.isZakaat" ></select>
			</div>
		</div>


		<div class="form-group input-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Start Date </h4>
				<div class=""> When do you want your campaign to start? </div>

			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<input id="startdatefield" ng-change="restrictEndDate()" type ="date" class="form-control date-input" required ng-model="campaign.startDate" ></input>
			</div>
		</div>


		<div class="form-group input-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> End Date </h4>
				<div class=""> When do you want your campaign to end? </div>

			</div>

			<div class="col-sm-8 col-xs-12 input-container">
				<input ng-change="restrictEndDate()" id="enddatefield" type ="date" class="form-control date-input" required ng-model="campaign.endDate" ></input>
			</div>
		</div>


		<div class="form-group input-image-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Upload Image </h4>
				<div class="">Personalize your fundraise by adding a picture. This picture will represent your campaign on the website.  </div>
				<button ngf-select="onImageSelect($files,'campaignImage')" accept="image/*"> Select Picture</button>
			</div>

			<div class="col-sm-8 col-xs-12 input-container">

				<div class="restrictImageSize">


					<div ng-if="admin=='true' && !uploadImages.campaignImage.campaignImageFile">
						<img ng-src="{{campaign.campaignImage}}" />
					</div>
				</div>


				<div ng-if="admin=='false' || uploadImages.campaignImage.campaignImageFile" class="cropArea big">
					<img-crop result-image-size="500" area-min-size="300" area-type="square" image="uploadImages.campaignImage.campaignImageFile" result-image="uploadImages.campaignImage.croppedCampaignImageFile"></img-crop>
				</div>



			</div>
		</div>

		<div class="form-group input-image-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Your Photo (Optional)</h4>
				<div class="">Providing a photo of yourself adds credibility and trust to your fundraiser.  </div>


				<button ngf-select="onImageSelect($files,'userImage')" accept="image/*"> Select Picture</button>
			</div>

			<div class="col-sm-8 col-xs-12 input-container">

				<div class="restrictImageSize">


					<div ng-if="admin=='true' && !uploadImages.userImage.userImageFile">
						<img ng-src="{{campaign.userImage}}" />
					</div>
				</div>


				<div ng-if="admin=='false' || uploadImages.userImage.userImageFile" class="cropArea big">
					<img-crop result-image-size="500" area-min-size="300" area-type="circle" image="uploadImages.userImage.userImageFile" result-image="uploadImages.userImage.croppedUserImageFile"></img-crop>
				</div>



			</div>
		</div>


		<div class="form-group input-wrapper">

			<div class="col-sm-4 col-xs-12">
				<h4 class=""> Upload other pictures </h4>
				<div class=""> Show other supporting documents to support your campaign</div>
				
			</div>

			<div class="col-sm-8 col-xs-12 input-container supporting" id="supporting-docs">

				<button  ng-if="otherImageUploading==false" class="add-document-btn" ng-click="addDocument()" > Add supporting document</button>
				

				<div class="add-image-container border" ng-repeat="image in uploadImages.otherImages">
					
					<div class="col-sm-2 ">
						<div ng-if="!image.otherImageFile && !image.otherImageUrl" class="image-thumbnail-placeholder"> 

						</div>	
				
						<img ng-if="image.otherImageFile" class="image-thumbnail" ng-src="{{image.otherImageFile}}" />
						<img ng-if="image.otherImageUrl && !image.otherImageFile" class="image-thumbnail" ng-src="{{image.otherImageUrl}}"/>
					</div>

					<div class="col-sm-5">
						<input required ng-model="uploadImages.otherImages[$index].otherImageTitle" placeholder="Image Title" class="form-control image-title-input" > 
						<div class="uploading-wrapper">
							<img ng-if="image.isUploading==true" class="image-specefic-spinner" src="../images/spinner.gif">

							<div ng-if="image.otherImageFile" class="image-name" > {{image.otherImageFileName}} <span ng-if="image.isUploading==true" class="theme-color">  uploading </span> </div>


						</div>
					</div>

					<div class="col-sm-5">

						<div class="col-sm-6">
							<button ng-click="removeDocument($index)" class="btn-danger remove-document-btn"> Remove Picture</button>
						</div>

						<div class="col-sm-6">
							<button class="select-other-image" ngf-select="onImageSelect($files,'otherImage{{$index}}')" accept="image/*"> Select Picture</button>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		


		<div ng-if="admin=='true'" class="form-group input-approval-wrapper vertical-align">

			<div class="col-sm-4 col-xs-12 approve-title">
				<h4 class=""> Approve </h4>
				<div class="">Make this campaign live! </div>

			</div>

			<div class="col-sm-8 col-xs-12 input-container approve-input-container">
				<input class="approval-input" type="checkbox"  ng-model="campaign.isApproved" ></select>
			</div>
		</div>

		<div>
			<img ng-if="isSaving==true" class="image-specefic-spinner" src="../images/spinner.gif">
			<h3 class="text-center"> {{saveStatus}}</h3>
		</div>
		<button ng-if="admin=='false'" ng-disabled="isSaveDisabled()"  class="btn btn-lg btn-success save" ng-click="saveCampaign()" role="button">Submit For approval</button>
		<button ng-if="admin=='true'" ng-disabled="isEditDisabled()"  class="btn btn-lg btn-success save" ng-click="editCampaign()" role="button">Edit Campaign</button>
		<button ng-if="admin=='true'" class="btn btn-lg btn-danger delete" ng-click="deleteCampaign()" role="button">Delete Campaign</button>
	</div>
</div>


</form>
