<form disabled name="signup_form" >
<div>
	<h3>Start your own campaign</h3>
</div>

<div class="row">
	<div class="col-sm-4">
		<div> <h4> Name </h4></div>
		<div> What do you want to raise money for?</div>
	</div>
	<div class="col-sm-8">
		<input style="margin-top:30px" class="form-control" required ng-model="campaign.name" ></input>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div> <h4> Goal </h4></div>
		<div> How much do you want to raise?</div>
	</div>
	<div class="col-sm-8">
		<input style="margin-top:30px" class="form-control" required ng-model="campaign.goal" type="number" min="1000"></input>
	</div>
</div>


<div class="row">
	<div class="col-sm-4">
		<div> <h4> Video</h4></div>
		<div> Add a youtube or vimeo link</div>
	</div>
	<div class="col-sm-8">
		<input style="margin-top:30px" class="form-control" required ng-model="campaign.video" ></input>
	</div>
</div>
&nbsp;
<div class="row">
	<div class="col-sm-4">
		<div> <h4> Description</h4></div>
		<div> Explain your campaign in detail</div>
	</div>
	<div class="col-sm-8">
		<textarea class="form-control" rows="5" ng-minlength="100" ng-model="campaign.description"></textarea>
	</div>
</div>
&nbsp;
<div class="row">
	<div class="col-sm-4">
		<div> <h4> What kind of Campaign</h4></div>
		<div> Individual is for a single person where as cause is for an organization</div>
	</div>
	<div class="col-sm-8">
		<select class="form-control" required ng-options="item for item in campaignTypes" ng-model="campaign.type" ></select>
	</div>
</div>

&nbsp;
<div class="row">
	<div class="col-sm-4">
		<div> <h4> Zakaat </h4> </div>
		<div> Does your campaign qualify for zakaat </div>
	</div>
	<div class="col-sm-8">
		<input class="form-control" type="checkbox" ng-model="campaign.isZakaat">

	</div>

</div>

&nbsp;
<div class="row">
	<div class="col-sm-4">
		<div> <h4> Campaign start date</h4></div>
		<div> By When do you want your campaign to start</div>
	</div>
	<div class="col-sm-8">
		<input type ="date" style="margin-top:30px" class="form-control" required ng-model="campaign.startDate" ></input>
	</div>
</div>


&nbsp;
<div class="row">
	<div class="col-sm-4">
		<div> <h4> Campaign end date</h4></div>
		<div> By When do you want your campaign to finish</div>
	</div>
	<div class="col-sm-8">
		<input type ="date" style="margin-top:30px" class="form-control" required ng-model="campaign.endDate" ></input>
	</div>
</div>



    <button  style="margin-top:30px;float: right;" class="btn btn-lg btn-success" ng-click="editCampaign()" role="button">SAVE </button>

</form>


<!-- // ng-minlength="2" //
ADD CATEGORYYYYYY
\
ng-maxlength="4" type="number" min="1900" -->
