    <!-- Add your site or application content here -->
    <div class="header" ng-controller="HeaderCtrl">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">charagar</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a ng-href="/about">About</a></li>
              <li><a ng-href="">Contact</a></li>
              <li ><a ng-href="/startCampaign"> Start a campaign </a></li>
              <li ><a ng-show="!isLoggedIn" ng-click="openSignup()"> Login </a></li>

              <div class="right" ng-if="isLoggedIn"  ng-click="logoutUser()">
                <span class="name">{{userName}}</span>
                <span class="logout">
                  <span class="glyphicon glyphicon-off"></span>
                  <span>Logout</span>
                </span>
              </div>


            </div>



          </ul>
        </div>
      </div>
    </div>
  </div>