Start your own campaign


	<div>
		<input class="form-control" required ng-model="campaign.name" placeholder="Name"></input>
	</div>

	<div>
		<input class="form-control" required ng-model="campaign.campaignStartDate" placeholder="Campaign start date"></input>
	</div>
	<div>
		<input class="form-control" required ng-model="campaign.description" placeholder="description"></input>
	</div>
	<div>
		<input class="form-control" required ng-model="campaign.goal" placeholder="goal"></input>
	</div>


	<button type="button" class="btn btn-default" ng-click="saveCampaign()" >Start!</button>