<div class="form-group">

<div ng-show="state=='signup'">

	<div>
		<input class="form-control" required ng-model="user.phone" placeholder="PHONE"></input>
	</div>

	<div>
		<input class="form-control" required ng-model="user.city" placeholder="CITY"></input>
	</div>

	<div>
		<input class="form-control" required ng-model="user.country" placeholder="COUNTRY"></input>
	</div>
</div>

<div>
	<input class="form-control" required ng-model="user.email" placeholder="EMAIL"></input>
</div>

<div>
	<input class="form-control" type="password" ng-minlength=5 ng-model="user.password" placeholder="PASSWORD"></input>
</div>

<button type="button" ng-show="state=='login'" class="btn btn-success" ng-click="loginUser()" >Login</button>

<div ng-show="isError && state=='login'" class="error center-text">Incorrect username or password</div>

<div ng-show ="state=='login'" class="center-text text-top-margin">
	<span  >Don't have an account? </span> <span class="clickable clickable-text" ng-click="switchView(true)"> Lets  Signup!</span>
</div>



<button type="button" ng-show="state=='signup'" class="btn btn-success" ng-click="signupUser()" >Signup</button>

<div ng-show ="state=='signup'" class="center-text text-top-margin">
	<span  >Already have an account? </span> <span class="clickable clickable-text" ng-click="switchView(false)"> Lets  Login!</span>
</div>



<!-- <div ng-show ="state=='signup'" ng-click="switchView(false)">Already have an account, Login!</div> -->


</div>